.inputContainer{
    display: inline-flex;
    flex-wrap:wrap;  
    flex-basis: 100%;
}
.inputs{
 display:inline; 
  min-width:0em;
   width:30px;
   text-align: center;

 flex-grow: 1;
 flex-shrink: 1;
 padding:5px;
 margin:5px; 
 
}

.yellow{
  background-color: #ffb74d;
}
.break {
flex-basis: 100%;
  height: 0;
}
.grey{
  background-color: #e1e1e1;
}

