.inputContainer{
    display: inline-flex;
    flex-wrap:wrap;  
    flex-basis: 100%;
}
.inputs{
  display:inline; 
  min-width:0em;
  width:30px;
  flex-grow: 1;
  flex-shrink: 1;
  padding:5px;
  margin:5px; 
  text-align: center;
  height:50px;
  font-size: 18px;
  border:none;  
}

.inputs:active, .inputs:focus {
      border: none !important;
      outline: none !important; 
}

.yellow{
  background-color: #ffb74d;
}
.grey{
  background-color: #e1e1e1;
}
.green{
  color:white;
  background-color:  #4caf50;
}
/*flex keep line break*/
.break {
flex-basis: 100%;
  height: 0;
}


