#title{
  color: #25528f;
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 25px;
  margin-top: 20px;
}
#introText{
  font-size: 18px;
  font-weight: 600;
}
#scoreInfo{
  font-size: 28px;
  font-weight: 600;
  margin-top: 20px;
}
#wordCard{
  text-align: center;
}